*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
}
button{
    background-color: burlywood;
   color: black;
   padding: 20px;
   margin-top: 20%;
   justify-content: center;
   border-radius: 10px;
transition: all 4s;
}
button:hover{
    background-color: red;
    color: white;
    transform: rotate(360deg);
    transform: skew(10deg);
}